<div class="container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/marcoomarc/image/upload/v1558535042/background.jpg);">
  <div class="container">
    <h1>Mister Cocktail!</h1>
    <p>Make your own cocktail recipes</p>
    <a class="btn btn-success" href="">mixe now</a>
  </div>
</div>


  <% @cocktails.each do |cocktail| %>
  <ul>
  <%=link_to cocktail.name, cocktail_path(cocktail)%>
  </ul>
  <% end %>


  <%= link_to "Add a cocktail", new_cocktail_path%>
  <br>



<!-- for face detection -->
</div>


